<%= form_with(model: listing, local: true) do |form| %>
  <% if listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :category_id %>
    <%= form.text_field :category_id %>
  </div>

  <div class="field">
    <%= form.label :subcategory_id %>
    <%= form.text_field :subcategory_id %>
  </div>

  <div class="field">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>

  <div class="field">
    <%= form.label :street_number %>
    <%= form.text_field :street_number %>
  </div>

  <div class="field">
    <%= form.label :internal_number %>
    <%= form.text_field :internal_number %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code %>
  </div>

  <div class="field">
    <%= form.label :district %>
    <%= form.text_field :district %>
  </div>

  <div class="field">
    <%= form.label :city_id %>
    <%= form.text_field :city_id %>
  </div>

  <div class="field">
    <%= form.label :entity_id %>
    <%= form.text_field :entity_id %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :delivery_service %>
    <%= form.check_box :delivery_service %>
  </div>

  <div class="field">
    <%= form.label :carry_out %>
    <%= form.check_box :carry_out %>
  </div>

  <div class="field">
    <%= form.label :online_store %>
    <%= form.check_box :online_store %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
